{% extends 'base.html' %}
{% load static %}
{% block content %}
{#    动态加载数据，每次捕获request里面的page和limit参数，每次翻页请求数据库查询对应的页面#}
    <table id="demo" lay-filter="test"></table>

{% endblock content %}
  
{% block script %}
    layui.use('table', function(){
      var table = layui.table;

      //第一个实例
      table.render({
        elem: '#demo'
        ,height: 810
        ,url: 'search_jrjg2' //数据接口
        ,limit: 20
        ,page: true //开启分页
        ,request: {}
        ,cols: [[ //表头
            {field: 'year', title: '年限', width:80}
          ,{field: 'code', title: '银行类型', width:100}
          ,{field: 'B_SNAME', title: '银行简称', width:150}
          ,{field: 'B_ENAME', title: '银行全称', width:250}
          ,{field: 'B_HNAME', title: '银行股东名称', width: 200}
          ,{field: 'B_HSHARE', title: '持股比例', width: 100}
          ,{field: 'E_EID', title: '工商库企业代码', width: 200}
          ,{field: 'H_HID', title: '股东工商库代码'}
        ]]
      });

    });
{% endblock script %}