{% extends 'base.html' %}

{% block content %}

<table class="layui-table">
  <colgroup>
    <col width="150">
    <col>
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>排名</th>
      <th>热点</th>
      <th>热度</th>
    </tr>
  </thead>
  <tbody>
    <tr style="color:#F00">
      <td>1</td>
      <td>31省新增确诊10例均为境外输入</td>
      <td>491.1万</td>
    </tr>
    <tr style="color:#FF9933">
      <td>2</td>
      <td>日媒:菅义伟与拜登会谈要批中国</td>
      <td> 473.9万 </td>
    </tr>
    <tr style="color:#CC9900">
      <td>3</td>
      <td>日媒:菅义伟与拜登会谈要批中国</td>
      <td> 473.9万 </td>
    </tr>
  </tbody>
</table>
{% endblock content %}


{% block script %}
{% endblock script %}